<form action="/prehistoric_creatures" method="POST">
    <label for="preHistType">Type</label>
    <input type="text" id="preHistType" name="type">

    <label for="preHistUrl">Image Url</label>
    <input type="text" id="preHistUrl" name="img_url">
    
    <input type="submit" value="Make a Prehistoric Dino!">
</form>